.container {
  width: auto;
  height: 100%;
  background-color: #00000080;
  text-align: center;
  z-index: 1021;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.stories_main {
  position: fixed;
  top: 0;
  //   left: 50;
  //   right: 50;
  //   z-index: 100000;
  text-align: center;
}
