.restaurant {
  width: 85%;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
// .restaurant_container {
//   width: 100%;
//   margin: 0 auto;
// }
.restaurant_image {
  width: 80%;
  height: 560px;
  object-fit: cover;
  border-radius: 10px;
}

// .restaurant_card {
//   width: 70%;
//   position: absolute;
//   top: 60%;

//   h2 {
//     font-family: 'Josefin Sans', serif;
//     font-weight: 700;
//     font-size: 40px;
//     color: #d8c2ed;
//   }
//   .restaurant_input input {
//     width: 20%;
//     height: 25px;
//     background-color: #210638;
//     border: 2px solid #d5b83644;
//     border-radius: 5px;
//     color: #d8c2ed;
//     transition: 0.3s;
//   }
//   .restaurant_input input:active {
//     transition: 0.3s;
//   }
// }

// .parent {
//   width: 100%;
//   height: auto;
//   display: flex;
// }
