/* Header */
.header_backgroud {
  background: #f5f4f2;
  border: 0 transparent;
  box-shadow: 5px 5px 5px 5px rgb(238, 238, 238);
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End-Header */

/* Button */
.btn_edit {
  background: rgba(254, 151, 8, 0.986);
  color: rgb(200, 200, 200);
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  height: 40px;
}
.btn_edit:hover {
  background: rgb(255, 196, 0);
  color: black;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
}
/* End-Button */

.span {
  color: rgb(169, 103, 103);
}
.search_box {
  width: fit-content;
  height: fit-content;
  position: relative;
  padding-right: 60px;
}
.input_search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #ffa600;
  padding-right: 40px;
  color: white;
  cursor: pointer;
}
.input_search:focus {
  width: 320px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgb(248, 133, 1);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  /* width: 170px; */
}
.input_search::placeholder {
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn_search {
  margin-right: 40px;
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn_search:focus ~ .input_search {
  width: 320px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgb(251, 255, 0);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
/* End-Seach */

// user icon style start

.user_icon {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: right;
  border-radius: 50%;
  padding-top: 3px;
}

// user icon style end

/* Mobil version */
@media screen and (max-width: 455px) and (max-height: 626px) {
  .btn_search:focus ~ .input_search {
    width: 120px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgb(251, 255, 0);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
  .input_search:focus {
    width: 120px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgb(248, 133, 1);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
}
