@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
body {
  margin: 0;
  /* background-color: #e6e4e4 !important; */
  background-color: #ffffff !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-open {
  overflow: hidden;
}

.card_modal {
  width: auto;
  height: 100%;
  background-color: #00000080;
  text-align: center;
  z-index: 1021;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* backdrop-filter: blur(10px); */
}
* {
  box-sizing: border-box;
}
.dropdownStyle {
  box-shadow: 0px 0px 10px 0px rgb(182, 182, 182);

  width: 300px ;
}


/* ######################################################### */
/* ################---INTRO styless ---#################### */
/* ######################################################### */
.category {
  width: auto;
  background-color: aliceblue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.section {
  width: 95%;
  display: flex;
  margin: 0 auto;
}

.cat_name {
  font-size: 18px;
  font-family: sans-serif !important;
  font-weight: 600;
}
.snowFall {
  z-index: 14 !important;
}
.intro-page {
  position: relative;
  height: 500px;
}

.opacity-block {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  /* top: 0; */
  /* left: 10; */
  z-index: 2;
  background-color: black;
  filter: opacity(30%);
}
.img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;
  position: absolute;
}

.img_log {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: #f5f4f2;
  z-index: 3;
  position: absolute;
  top: 320px;
  left: 58px;
}

.img_logo {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.name_container {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 15px 5px rgb(223, 221, 221);
  background: #ffffff;
}

.texts {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  /* margin-left: 80px; */
}
.btn-waiter {
  background: #f5f4f2 !important;
  font-family: sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 8px 25px !important;
}

/* ######################################################### */
/* ################---CARD styless ---#################### */
/* ######################################################### */

.card {
  border-radius: 15px 15px 25px 25px !important;
  /* border: 1px solid lavender; */
  margin: 10px 10px 10px 0;
  /* box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1); */
  box-shadow: 5px 5px 15px 5px rgb(223, 221, 221);
  margin-bottom: 30px;
}

.card__image {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 180px;
  object-fit: cover;
  margin: 0 auto;
}

.card__info {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 10px 0 10px;
}

.card__info h3 {
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  padding-bottom: 20px;
  color: rgb(102, 102, 102);
}

.card__info p {
  font-size: 19px;
  font-weight: 800;
  color: rgb(58, 58, 58);
  font-family: sans-serif;
}

.card_view {
  margin: 0 auto;
  width: 100%;
  z-index: 99999999;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.card_view_motion {
  margin: 0 auto;
  width: 50%;
  height: 550px;
  background-color: #ffff;
  border-radius: 20px 20px 20px 20px;
  z-index: 99999999;
  position: fixed;
  scroll-behavior: initial;
  bottom: 0;
  left: 0;
  right: 0;
  top: 17%;
}

.card_view_img {
  /* padding: 10px; */
  width: 100%;
  height: 350px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.a {
  margin-top: 20px;
  padding: 10px 0px;
}

.card_view h2 {
  padding: 5px;
  margin: 0;
  color: #333333;
  font-weight: 700;
}
.card_view h2 hr {
  margin-bottom: 0;
  margin-top: 10px;
  /* color: orange; */
  color: black;
  border: 1.3px solid black;
}
.card_view_desc {
  font-size: 15px;
  height: auto;
  min-height: 75px;
  max-height: 75px;
  margin: 0;
  overflow: auto;
  padding: 0 5px;
  margin-bottom: 10px;
  color: #343434;
  font-weight: 500;
  color: red;
  overflow: scroll;
}
.card_view_price {
  margin: 0 15px;
  display: flex;
  justify-content: space-around;

  .btnStyle {
    border: none;
    background: #f5f4f2;
    border-radius: 22px;
  }

  .btnStyle:hover {
    border: none;
    background: #e7e7e7;
    border-radius: 22px;
  }



  .grey {
    background-color: #9c9b9b;
    font-weight: 700;
  }
}

.btnOrderStyle {
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 13px;
  background: #fff !important;
  box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
}
.btnOrderStyleLoad {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 13px;
  background: #fff !important;
  box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
}
.card-btn-order {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 22px !important;
  background-color: #f5f4f2 !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
  color: #21201f !important;
}
@media (min-width: 320px) and (max-width: 425px) {
    .dropdownStyle {
      width: 220px !important;
      font-size: 13px !important;
    }
}
@media (min-width: 320px) and (max-width: 480px) {

  .dropdownStyle {
    width: 170px;
    font-size: 12px !important;
  }
  .col-sm-6 {
    margin: 0 !important;
    padding: 0 !important;
    justify-content: center !important;
  }
  .card {
    margin: 10px 5px 10px 0;

    .card__info h3 {
      font-size: 16px;
    }

    .card__info p {
      font-size: 14px;
    }
  }

  .opacity-block {
    width: 100%;
    height: 300px;
    margin-top: 10px;
  }
  .intro-page {
    height: 300px;
  }
  .img {
    width: 100%;
    height: 300px;
    margin-top: 10px;
  }

  .img_log {
    width: 80px;
    height: 80px;
    top: 205px;
    left: 20px;
  }
  .img_logo {
    width: 80px;
    height: 80px;
  }

  .container {
    border-radius: 20px !important;
  }
  .card_view {
    width: 100%;
    /* height: 90%; */
    top: 15%;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    background-color: #ffffff;
  }
  .card_view_motion {
    width: 100%;
    top: auto;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  .card_view_img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
    /* object-fit: cover; */
  }

  .card_view h2 {
    padding: 10px;
    margin: 0;
    color: #4d4d4d;
    font-weight: 700;
  }
  .card_view h2 hr {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .card_view_desc {
    font-size: 15px;
    min-height: 20px;
    max-height: 165px;
    margin: 0;
    overflow: scroll;
    padding: 0 5px;
    margin-bottom: 10px;
    color: #343434;
    font-weight: 500;
  }
  .card_view_price {
    background-color: white;
    padding-bottom: 15px;

    .grey {
      background-color: #9c9b9b;
      font-weight: 700;
    }
  }
}

/* ######################################################### */
/* ################---Navbar styless ---#################### */
/* ######################################################### */

.fullNavBar {
  width: 100% !important;
  border-radius: 0px !important;
}

.custom-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 27px auto 0;
  width: 100%;
  background-color: #f5f4f2;
  font-size: 0;
  transition: all 1s ease 0s;
  border-radius: 22px;
  padding: 8px;
}

.custom-navbar a {
  line-height: 50px;
  height: 100%;
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  text-transform: capitalize;
  color: #2d2d2d;
  cursor: pointer;
  border-radius: 18px !important;
}
.custom-navbar .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
}

.swiper-slide.swiper-slide-next {
  width: auto;
}

.swiper-slide {
  width: auto;
  height: auto;
  text-align: center;
}

.active {
  width: 100%;
  font-weight: 700;
  background-color: #ffffff;
  transform: scaleX(1) !important;
  transform-origin: left !important;
  z-index: 0 !important;
  transition: all 0.3s ease 0s !important;
  border-radius: 8px !important;
  padding: 0 18px;
}

.scrollDiv {
  height: 130px;
  transition: 0.3s !important;
}
.imgScroll {
  width: 300px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 5px;
}

/* .text_promo {
  z-index: 100;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #71b378 ;
  color: #f5f4f2 ;
  border-radius: 15px;
  padding: 5px 5px;
  font-weight: 700;
} */




.swiper-wrapper {
  width: auto !important;
  height: 50px !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .scrollDiv {
    height: 90px;
    transition: 0.3s !important;
  }

  .imgScroll {
    width: 150px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 5px;
  }
  .text_promo {
    font-size: 12px;
    font-weight: 800;
    border-radius: 10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .img_log {
    top: 313px;
    left: 45px;
  }

  .swiper-wrapper {
    width: auto !important;
    height: 50px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .custom-navbar a {
    font-size: 14px !important;
  }
}

/* ######################################################### */
/* ################---Header - Footer styless ---#################### */
/* ######################################################### */

.footer_style {
  background: #f5f4f2;

  .footer_style_text {
    color: rgb(44, 44, 44);
    font-weight: 500;
    font-family: sans-serif;
    font-size: 14px;

    .footer_powered {
      color: #1d1919;
      font-weight: 700;
      text-decoration: none;
      font-family: sans-serif;
    }
  }
}

/* ######################################################### */
/* ################---Login page styless ---#################### */
/* ######################################################### */

.background {
  width: 100%;
  height: 100dvh;
  background-color: #210638;

  .container {
    width: 25% !important;
    height: auto;

    .login_logo {
      width: 200px;
      height: auto;
      margin: 0 auto;
    }

    .login_text {
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: large;
    }

    .footer_powered {
      text-decoration: none;
      color: #6ec0ec;
      font-weight: 600;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .background {
    .container {
      width: 80% !important;

      .login_logo {
        width: 200px;
      }

      .login_text {
        font-size: medium;
      }

      .footer {
        font-size: small;

        .footer_powered {
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .background {
    .container {
      width: 60% !important;

      .login_logo {
        width: 200px;
      }

      .login_text {
        font-size: medium;
      }
      .footer {
        font-size: small;

        .footer_powered {
          font-weight: 600;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .background {
    .container {
      width: 40% !important;

      .login_logo {
        width: 200px;
      }

      .login_text {
        font-size: medium;
      }
      .footer {
        font-size: medium;

        .footer_powered {
          font-weight: 600;
        }
      }
    }
  }
}

.round {
  border-radius: 10px;
  margin-top: 10px;
}

.ordersPageBtn {
  box-shadow: 1px 5px 12px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 12px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 12px -12px rgba(0, 0, 0, 0.75);
}
