.footer_style {
    background: rgb(220, 235, 220);
    background: linear-gradient(251deg, rgb(147, 168, 204) 19%, #34495e 75%);
}
.footer_style_text {
    color: #ffffff;
    font-weight: bold;
}
.footer_powered {
    color: #46484c;
    font-weight: 700;
    text-decoration: none;
}