.container {
  width: auto;
  height: 100%;
  background-color: #00000080;
  // text-align: center;
  z-index: 1021;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.stories_main {
  // position: fixed;
  // margin: auto;
  // height: 100%;
  // top: 0;
  // left: 0;
  // right: 0;
}

// @media (max-width: 768px) {
//   .stories_main {
//     width: 100%;
//   }
// }
